.ArticlesBox-heading-167{
    flex-basis: 80% !important;
}

.ArticlesBox-heading-167:hover{

}

#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 50%;
    float:left; /* add this */
}
#second {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    padding-left: 10%;
}

.imgNews{
    height: 200px;
    width: auto;
}